# Cloudflare VPN Configuration
# Rename this file to .env and fill in your details

# Your Cloudflare Worker URL (e.g., https://your-worker.workers.dev)
WORKER_URL=https://cloudflaresoorani.soorani.workers.dev

# Your VPN UUID
VPN_UUID=c0686cb1-515d-4fe3-8f22-508746811ef3

# Router Configuration
ROUTER_IP=192.168.1.1
ROUTER_USER=root
